<div class="valign-wrapper" style="height:100vh">
  <div class="edit-container container">
    <div class="row">
      <div class="col l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Active Products</span>
            <products-list></products-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <tr class="products-row">
  <td class="left-border product-img-td"><img class="product-img" src="assets/tortoise.jpg"/></td>
  <td class="product-td"><span class="product-name">Parby Warker Turtoise Frame</span></td>
  <td>$99.00</td>
  <td>PW1689</td>
  <td>Jon Snow</td>
  <td class="right-border">September 31, 2018</td>
</tr> -->
