<div class="valign-wrapper" style="height:100vh">
  <div class="edit-container container">
    <div class="row">
      <div class="col l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Active Products</span>
            <table class="products-table">
             <thead>
               <tr class="products-head">
                   <th>PRODUCT</th>
                   <!--Product text spacer-->
                   <th></th>
                   <th>PRICE</th>
                   <th>CODE</th>
                   <th>CREATED BY</th>
                   <th>LAST MODIFIED</th>
               </tr>
             </thead>

             <tbody>
               <tr class="products-row">
                 <td class="left-border"><img class="product-img" src="assets/tortoise.jpg"/></td>
                 <td class="product-td"><span class="product-name">Parby Warker Turtoise Frame</span></td>
                 <td>$99.00</td>
                 <td>PW1689</td>
                 <td>Jon Snow</td>
                 <td class="right-border">September 31, 2018</td>
               </tr>
               <tr class="products-row">
                 <td class="left-border"><img class="product-img" src="assets/tortoise.jpg"/></td>
                 <td class="product-td"><span class="product-name">Parby Warker Turtoise Frame</span></td>
                 <td>$99.00</td>
                 <td>PW1689</td>
                 <td>Jon Snow</td>
                 <td class="right-border">September 31, 2018</td>
               </tr>
             </tbody>
           </table>
          </div>
          <div class="card-action">
            <a href="#">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
