/* You can add global styles to this file, and also import other style files */
.products-head > th {
  color: #808080;
  font-size: 12px;
  padding:15px 20px 0px 20px;
}

.products-row > td{
  padding:20px;
  border-top:1px solid #d0d0d0;
  border-bottom:1px solid #d0d0d0;
  border-radius:0px;
}

.products-row > td.left-border{
  border-left: 1px solid #d0d0d0
}

.products-row > td.right-border{
  border-right: 1px solid #d0d0d0;
  /* A little hacky, but forces minimum td width possible */
  width: 1px;
}

.product-td{
  border-right: 1px solid #d0d0d0;
}

.price-edit{
  cursor: pointer;
  height: 1rem !important;
  margin: 0 !important;
  border-bottom: 0px !important;
  max-width:60px !important;
}

.product-img-td{
  /* A little hacky, but forces minimum td width possible */
  width:1px;
}

.product-img{
  height: 18px;
  vertical-align: middle;
}

.product-name{
}

.products-row {
  border: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

.products-table {
  border-spacing: 0px 10px;
  border-collapse: separate;
}

.products-icon.save{
  cursor:pointer;
  font-size:24px;
  vertical-align:middle;
}

.products-icon.delete{
  cursor:pointer;
  font-size:24px;
  vertical-align:middle;
}
